<% include ../partials/header %>


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="contact">

<!-- Navbar -->
<div class="w3-top">
<div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Bon Voyage!</a>
  <a href="book" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Plan Your Trip</a>
  <a href="comments" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Testimonials</a>
  <a href="contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Get In Touch</a>
</div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="beach.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small" style="bottom:10%;opacity:0.7;width:70%">
        <h2>Get In Touch!</h2>
  </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Our Team</h2>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="robert.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Robert Soldan</h3>
  <p>Travel Agent</p>
</div>

<div class="w3-quarter">
  <img src="dejan.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Dejan Mijakovac</h3>
  <p>Travel Agent</p>
</div>

<div class="w3-quarter">
  <img src="sophia.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Sophia Hennouni</h3>
  <p>Travel Agent</p>
</div>

<div class="w3-quarter">
  <img src="manuel.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Manuel Tova-Izquierdo</h3>
  <p>IT Consultant</p>
</div>

</div>
</div>

<!-- Quote Row -->
<div class="w3-panel w3-center w3-sand w3-padding-64">
<h3 class="w3-xlarge" style="font-style: italic"><span style="font-size:50px;line-height:1em;opacity:0.2">&#10077;</span>
It is in the compelling zest of high adventure and of victory, and in creative action, that man finds his supreme joys.
<span style="font-size:50px;line-height:1em;opacity:0.2">&#10078;</span></h3>
<p>Antoine de Saint-Exupéry - Wind, Sand and Stars</p>
</div>

<!-- Form Container -->
<div class="w3-container w3-padding-64" id="contact">
    <div class="w3-row-padding w3-center w3-padding-16" id="pricing">
            <h2>Any Questions?</h2>
            <p>Sit back and relax, we will contact you in the next 24 hours.</p><br>
    </div>
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Swing by for a cup of coffee or just say hi!</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>&nbsp;&nbsp;Mayor Street Lower, International Financial Services Centre, Dublin</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>&nbsp;&nbsp;+00 1515151515</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>&nbsp;&nbsp;bonvoyage@bonvoyage.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>WAD 2019</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="contact"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

</body>

</html>

<% include ../partials/footer %>